<!-- begin footer -->
<footer class="footer">
  <div class="row">
    <ul>
      <li><a id="mail-icon" class="icon" href="mailto:stebp.vn@gmail.com"></a></li>
      <li><a id="twitter-icon" class="icon" href="https://twitter.com/stfnpopopop"></a></li>
      <li><a id="github-icon" class="icon" href="https://github.com/stfnppv"></a></li>
      <li><a id="linkedin-icon" class="icon" href="https://www.linkedin.com/pub/stefan-popov/23/4b0/853"></a></li>
    </ul>
  </div>
  <div class="row">
      <p class="copyright">
        &copy; Stefan Popov, 2015
      </p>
    </div>
  </div>
</footer>
<!-- end footer -->