#about .row > div {
  margin-bottom: 2px;
  text-align: start;
}

#about .row > div img {
  width: 100%;
  max-width: 256px;
  margin-top: 35px;
  height: auto;
}

#about .row > div h5 {
  margin-top: 2px;
}

img {
  vertical-align: middle;
  border: 0px none;
}
